@font-face{
    font-family: "Righteous";
    src: url("Righteous-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
}

@font-face{
    font-family: "Roboto";
    src: url("Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
}

@font-face{
    font-family: "Roboto";
    src: url("Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
}



body{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: black;
    text-align: left;
    overflow-x: hidden;
    margin: 0;
    display:relative;
    justify-content: center;
}

h1{
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-size: 150px;
    color:#2DBFC9;
    margin-top:0;
    margin-bottom:0;
}

.container{
    padding: 0px 40px;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.background-blob{
    position:fixed;
    width: 70%;
    top:0%;
    right:15%;
    left:auto;
    animation: rotation 10s infinite linear;
    z-index:1;
}


.glass-overlay{
    left:0;
    top:0;
    position:absolute;
    width:100%;
    height:100%;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(40px);
    z-index:2;
}

.content{
    display:flex;
    justify-content: space-between;
    height:80vh;
    padding-bottom:20px;
}

/* CHAT ROOMS */
.chat-rooms{
    width:15%;
    height:100%;
    border: 2px solid #2DBFC9;
    box-sizing: border-box;
    border-top-left-radius:30px ;
    border-bottom-left-radius:30px ;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-start;
}

.chat-rooms .btn{
    padding:0px;
    background: none;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    margin-top: 30px;
    text-justify: left;
    color: #2DBFC9;
}

.chat-rooms .btn:hover{
    color: #7F89E2;
}



/* CHAT CONTENT */
.chat-content{
    width:85%;
    height:100%;
    border: 2px solid #2DBFC9;
    box-sizing: border-box;
    border-top-right-radius:30px ;
    border-bottom-right-radius:30px ;
    border-left:none;
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

.message-bar{
    border-color: #2DBFC9;
    border-top-left-radius:25px ;
    border-bottom-left-radius:25px ;
    color:#2DBFC9;

}

.send-btn{
    color:#2DBFC9;
    border-color:#2DBFC9;
}

.send-btn:hover{
    color:white;
    background-color: #7F89E2;
}



.chat-display{
    overflow: scroll;
}

.message{
    font-weight:400;
}

.username{
    color:#7F89E2;
}

.time{
    font-weight:400;
    font-size: 0.8em;
    color:gray;
}

.modal{
    display:block;
}

/* Username ask */
.hidden{
    display:none;
}

.ask-username{
    position: absolute;
    width:100%;
    height:100%;
    z-index: 3;
}

.new-username{
    width:25%;
    margin: auto;
    margin-top: 25%;
}

.username-btn{
    width:100%;
    color:#2DBFC9;
    border-color:#2DBFC9;
}

.username-btn:hover{
    background-color:#7F89E2;
    color:white;
}

.username-input{
    border-color:#2DBFC9;
}